In [1]:
import pandas as pd

In [2]:
csv = "HMdb-US-Civil-War-Historical-Markers--20200629.csv"

hmdb_df = pd.read_csv(csv, encoding='latin1')

In [3]:
hmdb_df = hmdb_df.rename(columns={"Year Erected": "year", "Latitude (minus=S)": "lat", "Longitude (minus=W)": "lon"})

In [4]:
hmdb_df = hmdb_df[['year', 'lat', 'lon']]

In [5]:
hmdb_df = hmdb_df.dropna(subset=['year'])

In [6]:
hmdb_df['year'] = hmdb_df['year'].astype(str).apply(lambda x: x[0:4])

In [7]:
hmdb_df.head()

   year       lat       lon
0  1986  38.79376 -77.27145
1  2003  38.79254 -77.21778
2  1992  38.80967 -77.22118
3  1997  38.80448 -77.04172
8  1961  38.80391 -77.32618

In [8]:
hmdb_df = hmdb_df.groupby('year').count().sort_values(by=['year']).reset_index()

In [9]:
hmdb_df = hmdb_df.rename(columns={"Coordinates": "monuments_erected"})

In [10]:
hmdb_df = hmdb_df.drop(['lon'], axis=1)
hmdb_df = hmdb_df.rename(columns={"lat": "monuments_erected"})

In [11]:
hmdb_df

     year  monuments_erected
0    1852                  1
1    1861                  2
2    1863                  1
3    1864                  3
4    1865                  5
..    ...                ...
155  2016                125
156  2017                 77
157  2018                 39
158  2019                 44
159  2020                  1

[160 rows x 2 columns]

In [12]:
heritage_csv = "Whose Heritage SF - Whose Heritage Master.csv"

heritage_df = pd.read_csv(heritage_csv, encoding='latin1')

In [13]:
heritage_df = heritage_df[['Year Dedicated', 'Coordinates']]
heritage_df = heritage_df.rename(columns={"Year Dedicated": "year", "Coordinates": "monuments_erected_2"})
heritage_df = heritage_df.dropna(subset=['year'])
heritage_df['year'] = heritage_df['year'].astype(str).apply(lambda x: x[0:4])

In [14]:
heritage_df

      year    monuments_erected_2
2     1884   30.588833,-84.576433
3     1872   29.892467,-81.312033
4     1920   29.892417,-81.313817
6     1940   30.411733,-83.911133
7     1861   29.961379,-82.150070
...    ...                    ...
1895  1959   30.246424,-81.766119
1896  1939   30.293348,-97.727204
1900  1960   37.042249,-76.420577
1901  1965   37.019864,-76.394165
1902  1959  32.670982,-117.057763

[1046 rows x 2 columns]

In [16]:
heritage_df = heritage_df.groupby('year').count().sort_values(by=['year']).reset_index()
heritage_df.head()

   year  monuments_erected_2
0  1854                    1
1  1855                    1
2  1861                    5
3  1862                    1
4  1866                    6

In [17]:
combined_df = hmdb_df.append(heritage_df)

C:\Users\tmkez\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [22]:
result_df = combined_df.drop_duplicates(subset=['year'])
result_df = result_df.sort_values(by=['year'])

In [29]:
result_df = result_df[['year', 'monuments_erected']].fillna(0)

In [33]:
result_df = result_df.merge(heritage_df, on = 'year', how = 'left').fillna(0)

In [35]:
result_df

     year  monuments_erected  monuments_erected_2
0    1852                1.0                  0.0
1    1854                0.0                  1.0
2    1855                0.0                  1.0
3    1861                2.0                  5.0
4    1862                0.0                  1.0
..    ...                ...                  ...
158  2016              125.0                  1.0
159  2017               77.0                  2.0
160  2018               39.0                  0.0
161  2019               44.0                  0.0
162  2020                1.0                  0.0

[163 rows x 3 columns]

In [36]:
result_df.to_csv("test.csv", index = False)